interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.105.net/wp-json/mediaset-mediaplayer/v1/getStreamInfo?stream=https%3A%2F%2Ficy.unitedradio.it%2FRadio105.aac
  response:
    body:
      string: '{"success":true,"title":"DISCLOSURE ft. LEON THOMAS","artist":"DEEPER","album":"","year":"2025","isrc":"","duration":"199","raw":"DISCLOSURE
        ft. LEON THOMAS~DEEPER~~2025~~199~2026-01-29T14:37:39~2026-01-29T14:37:39~Radio
        105"}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.105.net/wp-json/>; rel="https://api.w.org/"
      X-Mediaset-CacheControl:
      - active
    status:
      code: 200
      message: OK
version: 1
