interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.r101.it/wp-json/mediaset-mediaplayer/v1/getStreamInfo?stream=http%3A%2F%2Ficecast.unitedradio.it%2Fr101
  response:
    body:
      string: '{"success":true,"title":"ANNALISA","artist":"MON AMOUR","album":"","year":"0","isrc":null,"duration":null,"raw":"ANNALISA~MON
        AMOUR~~0"}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.r101.it/wp-json/>; rel="https://api.w.org/"
      X-Mediaset-CacheControl:
      - active
    status:
      code: 200
      message: OK
version: 1
