interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.virginradio.it/wp-json/mediaset-mediaplayer/v1/getStreamInfo?stream=https%3A%2F%2Ficy.unitedradio.it%2FVirgin.mp3
  response:
    body:
      string: '{"success":true,"title":"BLACK KEYS","artist":"MAN ON A MISSION","album":"NO
        RAIN, NO FLOWERS","year":"2025","isrc":"","duration":"207","raw":"BLACK KEYS~MAN
        ON A MISSION~NO RAIN, NO FLOWERS~2025~~207~2026-01-29T14:06:34~2026-01-29T14:06:34~Virgin
        Radio"}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.virginradio.it/wp-json/>; rel="https://api.w.org/"
      X-Mediaset-CacheControl:
      - active
    status:
      code: 200
      message: OK
version: 1
